@mixin DispalyFlex($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin BorderFooter {
    content: "";
    position: absolute;
    width: 60%;
    background: Color(3);
    height: 2px;
    left: 40%;
    transform: translateX(-30%) scaleX(0);
    transition: transform 0.5s ease;
}

@mixin Media($size) {
    @if ($size == lg) {
        @media (max-width: 1200px) {
            @content;
        }
    }
    @if ($size == md) {
        @media (max-width: 900px) {
            @content;
        }
    }
    @if ($size == sm) {
        @media (max-width: 750px) {
            @content;
        }
    }
    @if ($size == xs) {
        @media (max-width: 400px) {
            @content;
        }
    }
}
