.cta {
    width: 100%;
    height: 60vh;
    @include DispalyFlex(center, center);
    flex-direction: column;
    background-image: url(/image/call-to-action-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #16db93;
    background-blend-mode: multiply;
    color: Color(3);
    .cta_text {
        margin-bottom: 1rem;
    }
    .btns_GetApp {
        @include Btn;
        background-color: Color(4);
        border-color: Color(4);
        margin-top: 1.5rem;
        &:hover {
            background-color: darken(Color(4), 20%);
            border: 2px solid darken(Color(4), 20%);
            transition: all 0.2s ease;
        }
    }
}
