header {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0;
    .grid {
        @include DispalyFlex(center, center);
    }
    .logo {
        width: 300px;
        height: 80%;
    }
}
