.Hero {
    width: 100%;
    height: 80vmin;
    min-height: 800px;
    background: Color(5);
    padding-top: 1rem !important;
    .grid {
        display: flex;
        align-items: center;
        .hero_content {
            color: Color(3);
            flex-basis: 66.66%;
            .hero_heading {
                font-size: 2rem;
                font-weight: 300;
                margin-bottom: 1rem;
                letter-spacing: 0.2rem;
                text-transform: uppercase;
                .Next_text {
                    font-weight: 900;
                }
            }
            .hero_text {
                width: 100%;
                font-size: 1rem;
                margin-bottom: 1rem;
            }
            .hero_btns {
                padding: 1.5rem 0rem 1rem;
                &_learn {
                    margin-right: 0.5rem;
                    transition: all 0.2s ease;
                    @include Btn;
                    &:hover {
                        transition: all 0.2s ease;
                        background-color: Color(3);
                        color: Color(1);
                    }
                }
                &_GetApp {
                    @include Btn;
                    background-color: Color(4);
                    transition: all 0.2s ease;
                    border: 2px solid Color(4);
                    &:hover {
                        background-color: darken(Color(4), 20%);
                        border: 2px solid darken(Color(4), 20%);
                        transition: all 0.2s ease;
                    }
                }
            }
        }
        .hero_image {
            flex-basis: 33.33%;
            margin-top: 12rem;
        }
    }
}
